.modal{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: whitesmoke;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}